# ---> Java
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.iml
.idea/*
demo001-spring-boot-websocket/target/*
demo002-java-socket/target/*
demo003-springboot-helloworld-api/target/*
demo004-springcloud/target/*
demo005-springcloud-client/target/*
demo000-java-base/target/*

